*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}

li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-size: 35px;
  line-height: 130%;
}
h4 {
  font-size: 20px;
  line-height: 115%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #545454;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .wrapper {
    max-width: 708px;
  }
}

/* ----  Header start  -----  */

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 100;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 60px;
}
.header__list {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
  line-height: 160%;
}
.header__link {
  color: #cdcdcd;
}
.header__link:hover {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 2.5px;
  transition: 0.3s;
}
.header__link-default {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 2.5px;
}
.logo__title {
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 110%;
  margin-bottom: 10px;
  color: #f1cdb3;
}
.logo_subtitle {
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.3px;
  line-height: 15px;
  padding-left: 4px;
}

/* ---- Start screen start ------*/

.start__screen {
  width: 100%;
  height: auto;
  max-height: 908px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-size: cover;
}

.start__screen_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 100px;
  padding: 180px 0px 0px 0px;
}
.start__image {
  max-width: 698px;
}
.start__screen_content {
  padding-top: 163px;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}

.start__title {
  max-width: 310px;
  font-size: 44px;
  color: #ffffff;
  line-height: 130%;
}
.start__subtitle {
  max-width: 460px;
  color: #cdcdcd;
  word-spacing: 0.1;
  line-height: 160%;
}
.start__button {
  width: 207px;
}
.button__primary {
  padding: 15px 44px;
  background: #f1cdb3;
  border-radius: 100px;
  color: #292929;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 1.1px;
}
.button__primary:hover {
  color: #fff;
  background-color: #edc2a3;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .header {
    top: 30px;
  }
  .start__screen {
    max-height: 1165px;
  }
  .start__screen_wrapper {
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
  }
  .start__screen_image {
    align-self: flex-end;
  }
  .start__image {
    max-width: 569px;
  }
  .start__screen_content {
    padding-top: 0;
    align-self: center;
  }
  .start__button {
    align-self: center;
  }
}

/* ----- Section about -----*/

.section__about {
  background-color: #fff;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  margin: 80px 0px 100px;
  max-height: 408px;
}
.about__pets {
  display: block;
  margin: auto 0;
}
.about__text {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
}
.about__title {
  max-width: 370px;
  letter-spacing: 0.13rem;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .about__content {
    flex-direction: column-reverse;
    max-height: 868px;
    row-gap: 80px;
  }
}

/* ----- Section pets ----- */

.section__pets {
  background-color: #f6f6f6;
  height: 877px;
}
.pets__content {
  padding: 80px 0px 100px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.pets__title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.pets__title_text {
  letter-spacing: 0.13rem;
  color: #545454;
}
.pets__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pets__slider_container {
  display: flex;
  justify-content: space-between;
  column-gap: 90px;
  margin-bottom: 14px;
}
.pets__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 270px;
  height: 435px;
  background-color: #fafafa;
  text-align: center;
  border-radius: 9px;
  margin: 0 auto;
}
.pets__card:hover {
  cursor: pointer;
  background-color: #fff;
}
.pets__card:hover .card__button {
  background-color: #f1cdb3;
  color: #fff;
}
.pets__picture {
  width: 270px;
  height: 270px;
}

.pets__name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.07rem;
  margin-bottom: 15px;
}
.pets__button {
  margin-bottom: 44px;
}
.card__button {
  border: 2px solid #f1cdb3;
  background-color: #fafafa;
}

.left__button,
.right__button {
  padding: 24px;
  border: 2px solid #f1cdb3;
  background-color: #fafafa;
  border-radius: 100%;
}
.left__button {
  background: no-repeat center url(../../assets/icons/Arrow_left.svg);
}
.right__button {
  background: no-repeat center url(../../assets/icons/Arrow_right.svg);
}
.pets__button_primary {
  text-align: center;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .pets__card:nth-child(n + 3) {
    display: none;
  }
  .pets__slider_container {
    column-gap: 40px;
  }
}

/* ----- Section help ----- */
.section__help {
  background-color: #fff;
}

.help__content {
  padding: 80px 0px 100px;
  max-height: 610px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.help__title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.help__title_text {
  letter-spacing: 0.13rem;
  color: #545454;
}

.help__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
}
.help__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 113px;
  line-height: 113%;
  letter-spacing: 0.07rem;
}

.help__item::before {
  content: '';
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}

.help__item:nth-child(1)::before {
  background-image: url(../../assets/icons/icon-pet-food.svg);
}
.help__item:nth-child(2)::before {
  background-image: url(../../assets/icons/icon-transportation.svg);
}
.help__item:nth-child(3)::before {
  background-image: url(../../assets/icons/icon-toys.svg);
}
.help__item:nth-child(4)::before {
  background-image: url(../../assets/icons/icon-bowls-and-cups.svg);
}
.help__item:nth-child(5)::before {
  background-image: url(../../assets/icons/icon-shampoos.svg);
}
.help__item:nth-child(6)::before {
  background-image: url(../../assets/icons/icon-vitamins.svg);
}
.help__item:nth-child(7)::before {
  background-image: url(../../assets/icons/icon-medicines.svg);
}
.help__item:nth-child(8)::before {
  background-image: url(../../assets/icons/icon-collars-leashes.svg);
}
.help__item:nth-child(9)::before {
  background-image: url(../../assets/icons/icon-sleeping-area.svg);
}

@media (max-width: 1279px) and (min-width: 768px) {
  .help__content {
    max-height: 779px;
  }
  .help__list {
    margin: 0 auto;
    max-width: 630px;
    justify-content: space-between;
    column-gap: 60px;
    row-gap: 55px;
  }
  .help__item {
    width: 170px;
  }
}

/* ----- Section donation ----- */
.section__donation {
  background-color: #f6f6f6;
  max-height: 462px;
}
.donation__content {
  max-width: 915px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding: 80px 0px 100px;
}
.donation__image {
  width: 505px;
}
.dog__image {
  display: block;
  margin: auto 0;
}

.donation__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
.donation__title {
  max-width: 300px;
  letter-spacing: 0.13rem;
}
.donation__subtitle {
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06rem;
}
.credit__card {
  width: 349px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  background-color: #f1cdb3;
  color: #545454;
  padding: 10px 15px;
  border-radius: 9px;
  font-size: 20px;
  letter-spacing: 0.06rem;
  word-spacing: 1px;
  line-height: 115%;
}
.credit__card::before {
  content: '';
  width: 30px;
  height: 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/credit-card.svg);
}

.credit__card:hover {
  color: #fff;
  background-color: #edc2a3;
}
.donation__information {
  width: 380px;
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
  line-height: 150%;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .section__donation {
    max-height: 783px;
  }

  .donation__content {
    max-width: px;
    flex-direction: column-reverse;
    row-gap: 60px;
  }
}

/* ----- Footer ----- */
.footer {
  width: 100%;
  max-height: 350px;
  background: no-repeat;
  background-image: url(../../assets/images/footer-gradient-background.png);
  background-size: cover;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  column-gap: 160px;
  padding-top: 41px;
}
.footer__content_inner {
  max-height: 310px;
  display: flex;
  justify-content: space-between;
  column-gap: 160px;
  padding-top: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
}
.footer__title {
  max-width: 278px;
  letter-spacing: 0.129rem;
  color: #ffffff;
}
.footer__email {
  width: 251px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: #f1cdb3;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.07rem;
  align-items: center;
}
.footer__email::before {
  content: '';
  width: 40px;
  height: 32px;
  background: no-repeat center;
  background-image: url(../../assets/icons/icon-email.svg);
}
.footer__phone {
  width: 239px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: #f1cdb3;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.07rem;
  align-items: center;
}
.footer__phone::before {
  content: '';
  width: 40px;
  height: 32px;
  background: no-repeat center;
  background-image: url(../../assets/icons/icon-phone.svg);
}
.footer__location {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
}
.footer__adress {
  width: 302px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: #f1cdb3;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.075rem;
  align-items: center;
}
.footer__adress::before {
  content: '';
  width: 22px;
  height: 32px;
  background: no-repeat center;
  background-image: url(../../assets/icons/icon-marker.svg);
}
.footer__adress:hover,
.footer__email:hover,
.footer__phone:hover {
  text-decoration: underline;
}

.footer__image {
  width: 300px;
  height: 310px;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .footer {
    max-height: 639px;
    background-size: cover;
  }
  .footer__content {
    max-width: 640px;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 30px;
    row-gap: 65px;
  }
  .footer__content_inner {
    max-height: 234px;
    column-gap: 60px;
    padding: 0;
  }
  .footer__image {
    margin: 0 auto;
  }
}
